* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.section {
    max-width: 700px;
    margin: auto;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.section p {
    font-size: 18px;
}

#section-1 {
    background-image: url(/images/background_hires-min.jpg);
    background-size: cover;
    min-height: 600px;
    max-width: 1280px;
    margin: auto;
    width: 100%;
    color: black;
    font-size: 30px;
}

#section-1 h1 {
    width: 80%;
    margin: auto;
    padding-top: 120px;
}

@media(max-width: 620px) {
    #section-1 {
        font-size: 24px;
    }
}

@media(max-width: 399px) {
    #section-1 {
        font-size: 22px;
    }
}

i {
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
}

a,
a:focus,
a:visited {
    margin-right: 2px;
    color: white;
    padding: 5px;
    font-family: "Raleway";
    display: inline-block;
    background-color: #da2020;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway";
    font-weight: 500;
    text-align: center;
}

footer {
    min-height: 60px;
}
